In [1]:
import json
import requests
import warnings
warnings.filterwarnings("ignore")

In [2]:
URL = ("https://groww.in/v1/api/stocks_data/v1/tr_live_delayed/segment/CASH/latest_aggregated")
data = {"exchangeAggReqMap":{"NSE":{"priceSymbolList":["RELIANCE","TCS","HDFCBANK","BHARTIARTL"],
                                    "indexSymbolList":[]},
                             "BSE":{"priceSymbolList":["AXISBANK"],"indexSymbolList":[]}}}

response = requests.post("https://groww.in/v1/api/stocks_data/v1/tr_live_delayed/segment/CASH/latest_aggregated", json=data)
#print("Status Code", response.status_code)
print(response)
print("JSON Response ", response.json())

<Response [200]>
JSON Response  {'segment': 'CASH', 'exchangeAggRespMap': {'BSE': {'priceLivePointsMap': {'AXISBANK': {'type': 'LIVE_PRICE', 'symbol': 'AXISBANK', 'open': 0, 'high': 0, 'low': 0, 'close': 0, 'ltp': 0, 'volume': 0, 'tsInMillis': 1729270250, 'lowPriceRange': 0, 'highPriceRange': 0, 'totalBuyQty': 0, 'totalSellQty': 0, 'dayChange': 0, 'dayChangePerc': 0, 'openInterest': 0, 'lastTradeQty': 0, 'lastTradeTime': 1729270250, 'prevOpenInterest': None, 'oiDayChange': None, 'oiDayChangePerc': None, 'lowTradeRange': 0, 'highTradeRange': 0}}, 'indexLivePointsMap': {}}, 'NSE': {'priceLivePointsMap': {'BHARTIARTL': {'type': 'LIVE_PRICE', 'symbol': 'BHARTIARTL', 'open': 1710, 'high': 1716.1, 'low': 1685.2, 'close': 1701.15, 'ltp': 1707.85, 'volume': 4154915, 'tsInMillis': 1729247397, 'lowPriceRange': 1531.05, 'highPriceRange': 1871.25, 'totalBuyQty': 0, 'totalSellQty': 1261, 'dayChange': 6.699999999999818, 'dayChangePerc': 0.3938512182934967, 'openInterest': None, 'lastTradeQty': 7, 'lastTradeTime': 1729247397, 'prevOpenInterest': None, 'oiDayChange': 0, 'oiDayChangePerc': 0, 'lowTradeRange': None, 'highTradeRange': None}, 'HDFCBANK': {'type': 'LIVE_PRICE', 'symbol': 'HDFCBANK', 'open': 1663.1, 'high': 1691, 'low': 1654.1, 'close': 1673.15, 'ltp': 1681.85, 'volume': 12404862, 'tsInMillis': 1729247344, 'lowPriceRange': 1505.85, 'highPriceRange': 1840.45, 'totalBuyQty': 0, 'totalSellQty': 122, 'dayChange': 8.699999999999818, 'dayChangePerc': 0.5199772883483141, 'openInterest': None, 'lastTradeQty': 78, 'lastTradeTime': 1729247344, 'prevOpenInterest': None, 'oiDayChange': 0, 'oiDayChangePerc': 0, 'lowTradeRange': None, 'highTradeRange': None}, 'RELIANCE': {'type': 'LIVE_PRICE', 'symbol': 'RELIANCE', 'open': 2704.35, 'high': 2736.85, 'low': 2682.65, 'close': 2712.85, 'ltp': 2718.6, 'volume': 6041226, 'tsInMillis': 1729247393, 'lowPriceRange': 2441.6, 'highPriceRange': 2984.1, 'totalBuyQty': 0, 'totalSellQty': 4888, 'dayChange': 5.75, 'dayChangePerc': 0.21195421788893598, 'openInterest': None, 'lastTradeQty': 50, 'lastTradeTime': 1729247392, 'prevOpenInterest': None, 'oiDayChange': 0, 'oiDayChangePerc': 0, 'lowTradeRange': None, 'highTradeRange': None}, 'TCS': {'type': 'LIVE_PRICE', 'symbol': 'TCS', 'open': 4090, 'high': 4146.15, 'low': 4080, 'close': 4099, 'ltp': 4123.05, 'volume': 2361000, 'tsInMillis': 1729247337, 'lowPriceRange': 3689.1, 'highPriceRange': 4508.9, 'totalBuyQty': 78, 'totalSellQty': 0, 'dayChange': 24.050000000000182, 'dayChangePerc': 0.5867284703586285, 'openInterest': None, 'lastTradeQty': 19, 'lastTradeTime': 1729247337, 'prevOpenInterest': None, 'oiDayChange': 0, 'oiDayChangePerc': 0, 'lowTradeRange': None, 'highTradeRange': None}}, 'indexLivePointsMap': {}}}}

In [3]:
f = open('Json_File/Nifty_data.json' , 'w')
Nifty_data = response.json()
f.write(response.text)

f.close()

In [59]:
import mysql.connector
from mysql.connector import Error

In [60]:
import pyodbc
import pandas as pd

In [61]:
server = 'XORON18ðŸ˜ŽðŸ‘»\\SQLEXPRESS'
database = 'stock_market'

In [62]:
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

In [63]:
conn = pyodbc.connect(conn_str)

In [64]:
query = "Select a.exchange_name, b.* From symbols b, exchange a Where a.Id=b.exchange_id;"

In [66]:
df = pd.read_sql(query,conn)

In [67]:
df

,exchange_name,ID,EXCHANGE_ID,SYMBOL,SYMBOL_TYPE,HIGH,LOW,TLP,OPENS,CLOSING,VOLUME
0,BSE,1,19,AXISBANK,LIVE_PRICE,0.00,0.0,0.00,0.0,0.00,0
1,NSE,2,20,BHARTIARTL,LIVE_PRICE,1716.10,1685.2,1707.85,1710.0,1701.15,4154915
2,NSE,3,21,HDFCBANK,LIVE_PRICE,1691.10,1654.1,1681.85,1663.1,1673.15,12404862
3,NSE,4,22,TCS,LIVE_PRICE,4146.15,4080.0,4123.05,4090.0,4099.00,2361000